#main
	section.intro
		row
			.col-lg-6.col-sm-12.left
				p.label #[span.glyphicon.glyphicon-flash] javascript
				textarea#code(ng-model="code")
			.col-lg-6.col-sm-12.right
				p.label #[span.glyphicon.glyphicon-console] console
				//- #console(ng-model="console") {{ console }}
				iframe(sandbox="allow-forms allow-popups allow-scripts allow-same-origin" frameborder="0")
				
