#main
	section.intro
		row
			.col-lg-6.col-sm-12.left
				p.label #[span.glyphicon.glyphicon-flash] javascript
				textarea#code
			.col-lg-6.col-sm-12.right
				p.label #[span.glyphicon.glyphicon-console] console
				#console
				
