footer
  .row
    .col-lg-12
      .col-lg-3.col-md-6
        .container
          .col-lg-3
            .cuadro_intro_hover(style='background-color:#cccccc;')
              p(style='text-align:center; margin-top:20px;')
                img.img-responsive(src='http://placehold.it/140x100', alt='')
          .col-lg-3
            .cuadro_intro_hover(style='background-color:#cccccc;')
              p(style='text-align:center; margin-top:20px;')
                img.img-responsive(src='http://placehold.it/140x100', alt='')
          .col-lg-3.col-md-6
            h3 Categories:
            ul
              li
                a(href='')
                  i.fa.fa-file
                  |  News
              li
                a(href='')
                  i.fa.fa-android
                  |  Android
              li
                a(href='')
                  i.fa.fa-code
                  |  C#
          .col-lg-3.col-md-6
            h3 Contact:
            p
              a(href='', title='Contact me!') Contact