extends layout
block head
	title="ESplay"
	link(rel="stylesheet", href="/css/ESplay.css")
block content
	body(ng-app="ESplayApp")
		#container(ng-controller="transpileCtrl")
			include partials/nav
			include partials/esplay
	script(src="/build/ESplay.js")
