extends layout
block head
	title="ESplay"
	link(rel="stylesheet", href="/css/ESplay.css")
block content
	body(ng-app="ESplayApp")
		include partials/nav
		include partials/esplay
	script(src="/build/ESplay.js")
