body{
  padding: 0 !important;
  margin: 0 !important;
}

#code{
  width: 100% !important;
  background-color: black !important;
  /*border-right: 1px solid rgba(255,255,255,.3) !important;*/
  font-size: 1.1em !important;
}
.row{
  padding: 0 !important;
  margin: 0 !important;
}
iframe{
  padding: 15px;
  width: 100%;
  background-color: rgba(1,85,174, .5) !important;
}
p{
  padding: 5px !important;
  margin: 0 !important;
  border-bottom: 1px solid rgba(255,255,255,.3) !important;
  font-family: "Lucida Console" !important;
  color: white !important;
}
.label{
  position: absolute !important;
  border: none !important;
  right: 10px !important;
  z-index: 9999 !important;
  height: 30px !important;
  line-height: 30px !important;
  padding-left: 10px !important;
  text-transform: uppercase !important;
  background-color: transparent !important;
  font-family: "Roboto", sans-serif !important;
  color: rgba(255,255,255,.4) !important;
}
.left, .right{
	padding: 0 !important;
	margin: 0 !important;
  display : flex;
  height : 80% !important;
}
.left{
	background-color: black;
}
.right{
	background-color: black;
}
@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
