.navbar{
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	z-index: 9999 !important;
	width: 100% !important;
	font-family: "Roboto", sans-serif !important;
	font-size: 1.2em;
	height: 60px !important;
	background-color: black !important;
	border-radius: 0px !important;
}
.navbar a{
	color: rgba(255,255,255,1) !important;
	cursor: pointer;
	line-height: 30px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
	font-weight: lighter !important;
	transition: color .2s ease-in-out;
}
.navbar a:focus{
	background-color: black !important;
	color: white;
}
.navbar a:hover{
	color: rgba(255,255,255,.7) !important;
}
.dropdown a{
	background-color: black !important;
}
ul{
	background-color: black !important;
}